
.btn-create-room, .btn-join-room {
    padding: 1rem;
    border-radius: 10px;
    color: var(--clr-home-neutral);
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 40%);
}

.btn-create-room:hover, .btn-join-room:hover {
    background-color: rgba(0, 0, 0, 30%)
}


.btn-create-room {
    background-color: var(--clr-home-secondary);
}

.btn-join-room {
    background-color: var(--clr-home-primary);
}

.bubbles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.bubbles > * {
    border-radius: 6.25rem;
    border: 2px solid;
    box-shadow: 10px 10px rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.create-bubble {
    background-color: var(--clr-home-primary);
}

.join-bubble {
    background-color: var(--clr-home-secondary);
}

.div-input-roomID {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

/* Phones */
@media screen and (max-width: 850px) {
  .bubbles {
    flex-direction: column
  }
  .bubbles > * {
    height: 40vh;
    width: 90vw;
  }
}
